<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMILIA COLE</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" sizes="32x32" />
    <script src="https://kit.fontawesome.com/8ca0d39b16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="about_body">
    <header> 
        <nav class="nav_links">
        <div class="fondo">
          <ul class="link"> 
            <li><a href="/" class="link">| HOME </a></li>
        <li><a href="/about" class="link">| ABOUT </a></li>
        <li><a href="/music" class="link">| MUSIC |</a></li>
        <li><a href="/contact" class="link">CONTACT |</a></li>
            </ul>
        </div>
    
        </nav>
        <div class="caja_redes">
        <ul class="link_redes">
          <li><a href="https://twitter.com/" target="_blank" class="link_redes"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="https://facebook.com/" target="_blank" class="link_redes"><i class="fa-brands fa-square-facebook"></i></a></li>
          <li><a href="https://open.spotify.com/" target="_blank" class="link_redes"><i class="fa-brands fa-spotify"></i></a></li>
          <li><a href="https://www.apple.com/" target="_blank" class="link_redes"><i class="fa-brands fa-apple"></i></a></li>
          <li><a href="https://www.amazon.com/" target="_blank" class="link_redes"><i class="fa-brands fa-amazon"></i></a></li>
          <li><a href="https://www.instagram.com/" target="_blank" class="link_redes"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>
    </header>
       
        
            
        <section>
            <h1 class="about_titulo">ABOUT <br> EMILIA //</h1>
          
            <p class="about_p">"Seattle-based pop star makes her <br>indie debut with a hauntingly beautiful album"</p>
            <h4 class="about_h4">-  John Tirckle, Music Today Post</h4>
        
            <p class="about_p">"Emilia Cole is one of the <br> scene's breakout stars"</p>
            <h4 class="about_h4">- John Tirckle, Music Today Post</h4>
            
        </section>
        
</html>