<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emilia Cole</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" sizes="32x32" />
    <script
      src="https://kit.fontawesome.com/8ca0d39b16.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css">

  </head>
  <body class="home_body">
    <header>
      <nav>
        
        <ul class="home_links"> 
          <li><a href="/" class="nav_link">HOME</a></li>
      <li><a href="/about" class="nav_link">ABOUT</a></li>
      <li><a href="/music" class="nav_link">MUSIC</a></li>
      <li><a href="/contact" class="nav_link">CONTACT</a></li>
          </ul>
  
  
      </nav>
      <div class="home_caja_redes">
      <ul class="home_redes">
        <li><a href="https://twitter.com/" target="_blank" class="home_redes"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="https://facebook.com/" target="_blank" class="home_redes"><i class="fa-brands fa-square-facebook"></i></a></li>
        <li><a href="https://open.spotify.com/" target="_blank" class="home_redes"><i class="fa-brands fa-spotify"></i></a></li>
        <li><a href="https://www.apple.com/" target="_blank" class="home_redes"><i class="fa-brands fa-apple"></i></a></li>
        <li><a href="https://www.amazon.com/" target="_blank" class="home_redes"><i class="fa-brands fa-amazon"></i></a></li>
        <li><a href="https://www.instagram.com/" target="_blank" class="home_redes"><i class="fa-brands fa-instagram"></i></a></li>
      </div>
    </ul>
    </header>
      <div class="caja_subtitulo">
      <h2 class="subtitulo">

        <br><br><br>
        EMILIA <br />
        COLE //
     </h2>
    </div>
    <br>
    <br>
    <br>
    <br>
  
     <div class="caja_titulo">
      <h1 class="titulo">TWIST IN MY REALITY</h1>
    </div>
  </body>
</html>
