<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMILIA COLE</title>
    <link rel="shortcut icon" href="/img/icon/favicon.ico" sizes="32x32" />
    <script
      src="https://kit.fontawesome.com/8ca0d39b16.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header id="top" class="music_header">

      <nav class="nav_links">
        <div>
          <ul class="link"> 
            <li><a href="/" class="link">| HOME </a></li>
        <li><a href="/about" class="link">| ABOUT </a></li>
        <li><a href="/music" class="link">| MUSIC |</a></li>
        <li><a href="/contact" class="link">CONTACT |</a></li>
            </ul>
        </div>
    
        </nav>

        <div class="caja_redes">
          <ul class="link_redes">
            <li><a href="https://twitter.com/" target="_blank" class="link_redes"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/" target="_blank" class="link_redes"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="https://open.spotify.com/" target="_blank" class="link_redes"><i class="fa-brands fa-spotify"></i></a></li>
            <li><a href="https://www.apple.com/" target="_blank" class="link_redes"><i class="fa-brands fa-apple"></i></a></li>
            <li><a href="https://www.amazon.com/" target="_blank" class="link_redes"><i class="fa-brands fa-amazon"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank" class="link_redes"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
      
    </header>
    <h1 class="music_titulo">MUSIC //</h1>
    <section>
      <article>
        <h4>Direct links</h4>
        <ul class="music_links">
          <li><a href="#album" class="music_a">Álbum</a></li>
          <li><a href="#video1" class="music_a">Video: Organic love</a></li>
          <li><a href="#video2" class="music_a">Video: Street Light</a></li>
        </ul>
      </article>
      <article id="album">
        <h2>
          ALBUM <br />
          TWIST IN MY REALITY
        </h2>
        <img src="/img/emilia-play-list.png" alt="imagen del album" />
        <ol>
          <li><i class="fa-solid fa-play"></i> Organic Love | 02:40</li>
          <li><i class="fa-solid fa-play"></i> Twist In My Reality | 02:10</li>
          <li><i class="fa-solid fa-play"></i> Street Light | 03:28</li>
          <li>
            <i class="fa-solid fa-play"></i> Love Don’t Live Here Anymore
            (Cover) | 03:49
          </li>
        </ol>
        <a href="#top" class="music_a">Go Top</a>
      </article>

      <article id="video1">
        <h2>
          VIDEO <br />
          ORGANIC LOVE
        </h2>
        <iframe
          src="https://player.vimeo.com/video/135166028?h=fdb0646ae5"
          width="640"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>
          Directed by VINCE MALC & EMILIA COLE <br />
          Edited and Filmed by NICOLAS TROY <br />
          Produced by NIKI HEART,<br />
          Wix Films LTD
        </p>
        <a href="#top" class="music_a">Go Top</a>
      </article>

      <article id="video2">
        <h2>
          VIDEO <br />
          STREET LIGHT
        </h2>
        <iframe
          src="https://player.vimeo.com/video/134861419?h=24e3183108"
          width="640"
          height="360"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p>
          Directed by VINCE MALC & EMILIA COLE <br />
          Edited and Filmed by NICOLAS TROY <br />
          Produced by NIKI HEART,<br />
          Wix Films LTD
        </p>
        <a href="#top" class="music_a">Go Top</a>
      </article>
    </section>
  </body>
</html>
