
.about_titulo{
    font-family: arial;
    font-size: 70px;
    text-align: left;


}
.about_p{
    color: rgb(39, 144, 134);
    font-size: 29px;
    font-family: Arial;
    padding: 1%;
}

.about_h4{
    color: rgb(39, 144, 134);
    font-family: Arial;
    padding: 0.7%;
}


.about_body{
    background-image: url('/img/emilia-home.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 50%;
    background-size: 78%
}