
.contact_info{
        color: gray;
        text-decoration: none;
        font-family: arial;
    font-size: 17px; 
}

.contact_contacto{
    font-family: Arial;
    color: rgb(11, 146, 117);
    font-weight: normal;
    font-size: 17px;
}


.contact_titulo{
   font-family: arial;
   font-size: 60px;
}

.contact_subtitulo{
    font-family: Arial;
    font-size: 20px
}

.e_and_p{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0%;
}