.secciones{
    font-family: Arial;
    text-decoration: none;
   color: black;
   list-style-type: none;
}

nav{
    text-align: right;
}


.info{
        color: gray;
        text-decoration: none;
        font-family: arial;
        
    
}


.contacto{
    font-family: Arial;
    color: rgb(11, 146, 117);
    font-weight: normal;
}


.redes{
    text-align: right;

}
.red{
    color: black;
}

.titulo{
   font-family: arial;
   font-size: 60px;
}

.subtitulo{
    font-family: Arial;
    font-size: 20px
}