
.contact_info{
        color: gray;
        text-decoration: none;
        font-family: arial;
       
    
}


.contact_contacto{
    font-family: Arial;
    color: rgb(11, 146, 117);
    font-weight: normal;
}


.contact_titulo{
   font-family: arial;
   font-size: 60px;
}

.contact_subtitulo{
    font-family: Arial;
    font-size: 20px
}