.music_header{
    background-image: url('/img/emilia-music-top.jpg');
    background-repeat: no-repeat;
    background-size: 100%, 100%;
   padding: 15px;
   
}
.music_caja_secciones{
    background-color: rgba(255, 247, 247, 0.511);
    padding: 10px;
}

.music_titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

.music_a{
    color: gray;
    text-decoration: none;
    font-family: Arial;
}

.music_links{
    list-style-type: none;
    font-family: Arial;
    
}