@import url('./index.css');
@import url('./about.css');
@import url('./music.css');
@import url('./contact.css');
@import url('https://fonts.googleapis.com/css2?family=Onest&family=Raleway&display=swap');